* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #06333A;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}


